<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Welcome to your dashboard {{username}}</h2>

    <form class="form post">
      <div class="form-group">
        <label for="name-post">Post:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <input class="form-input" type="text" id="post-body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary1" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>

{{#if posts.length}}
<div class="">
  <h3>Your posts: </h3>
  {{#each posts as |post|}}

  <div class="">
    <div class="">
      <h5 class="" ><a href="/api/post/dash/{{id}}">{{post.title}}</a></h5>
      <p>Created At: {{format_date post.createdAt}}</p>
      <p class="">{{post.body}}</p>
      <a href="/{{id}}">See Comments</a>
    </div>
  </div>
  <button id="delete" data-delete={{post.id}} class="btn" >Delete</button>
  {{/each}}
</div>
{{/if}}
<script src="/js/posting.js"></script>