<div class="">


{{#each posts as |post|}}

<div class="">
  <div class="">
    <h5 class="">{{post.title}}</h5>
    <p>Posted by: {{user.username}} At: {{format_date post.createdAt}}</p>
    <p class="">{{post.body}}</p>
    <a href="/{{id}}">See Comments</a>
  </div>
</div>

{{/each}}