<div class="">


  {{#each posts as |post|}}

  <div class="card text-black w-50 mx-auto border-secondary m-5">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p>Posted by: {{user.username}} At: {{format_date post.createdAt}}</p>
      <p class="card-text">{{post.body}}</p>
      <a href="/{{id}}">See Comments</a>
    </div>
  </div>

  {{/each}}